{% extends "_layout.njk" %}

{% block style %}
<style>
  .uk-heading-xlarge {
    color: red;
  }
</style>
{% endblock %}

{% block content %}
  <h1 class="uk-heading-xlarge">{{ error }}</h1>
{% endblock %}
